{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block page_content %}


      <div class="card mx-auto">
        <div class="card-header">
          <h5>Add Species</h5>
        </div>
        <div class="card-body">
          
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
          </br>
            <button type="submit">Submit</button>

        </form>
        <br>
          </p>
          <table>
            <h5>Example input <a href="/static/examples/species_example.csv">csv</a></h5>
            <tr>
              <th >species_name,</th><td >Actinia mediterranea</td></tr>
              <tr>  <th >taxon_id,</th><td >1960102</td></tr>
              <tr>  <th >task,</th><td >SSP Community Sampling</td></tr>
              <tr>  <th >country,</th><td >Portugal,</td></tr>
              <tr>  <th >sample_provider_name,</th><td >A... ...ira</td></tr>
              <tr>  <th >sample_provider_email,</th><td >....@....pt</td></tr>
              <tr>  <th >goat_target_list_status,</th><td >other_priority</td></tr>
              <tr>  <th >goat_sequencing_status</th><td >sample_acquired</td></tr>
              <tr>  <th >sampling_delay</th><td >False</td></tr>
              <tr>  <th >sampling_month</th><td >2024-04-01 (input must have day, 1st of month ok)</td></tr>
              <tr>  <th >deadline_manifest_sharing</th><td >2024-06-15</td></tr>
              <tr> <th >deadline_manifest_acceptance</th><td >2024-06-29</td></tr>
              <tr> <th >deadline_sample_shipment</th><td >2024-07-14</td></tr>
              <tr> <th >mta1</th><td >True</td></tr>
              <tr>  <th >mta2</th><td >True</td></tr>
          </table>
      </div>



{% endblock %}
