body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  /*height: 100%;*/
  width: 0;
  position: fixed;
  z-index: 0;
  top: 75;
  bottom: 60;
  left: 0;
  /*background: rgb(0,176,255);
  background: linear-gradient(0deg, rgba(0,176,255,1) 0%, rgba(255,255,255,1) 100%);*/

  background: rgb(0, 159, 196);
  background: linear-gradient(0deg, rgba(0, 160, 196, 0.415) 0%, rgba(255,255,255,0) 100%);

  /*background-color: #EEE;*/
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 74px;
  padding-bottom: 60px;
}

/*.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}*/
/*
.sidebar a:hover {
  color: #f1f1f1;
}*/

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.navbar {
 min-height: 74px;
}
