
.Waiting {
  background-color: #C0C0C0;
  color: Black;
  padding: 3px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 12px;
}
.Received {
  background-color: #99987d;
  color: White;
  padding: 3px;
  padding-right: 13px;
  padding-left: 13px;
  border-radius: 12px;
  width: 80;
}
.Processing {
  background-color: #009f83;
  color: White;
  padding: 3px;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 12px;
  width: 80;
}
.Assembling {
  background-color: #009f83;
  color: White;
  padding: 3px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 12px;
  width: 80;
}
.Sequencing {
  background-color: #009f83;
  color: White;
  padding: 3px;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 12px;
  width: 80;
}
.TopUp {
  background-color: #009f83;
  color: White;
  padding: 3px;
  padding-right: 27px;
  padding-left: 27px;
  border-radius: 12px;
  width: 80;
}
.External {
  background-color: #0087a3;
  color: White;
  padding: 3px;
  padding-right: 18px;
  padding-left: 18px;
  border-radius: 12px;
  width: 80;
}
.Sampling {
  background-color: #009f83;
  color: White;
  padding: 3px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 12px;
  width: 80;
}
.Resampling {
  background-color: #009f83;
  color: White;
  padding: 3px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 12px;
  width: 80;
}
.Curating {
  background-color: #009f83;
  color: White;
  padding: 3px;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 12px;
  width: 80;
}
.Annotating {
  background-color: #009f83;
  color: White;
  padding: 3px;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 12px;
  width: 80;
}
.Done {
  background-color: #009fc4;
  color: White;
  padding: 3px;
  padding-right: 27px;
  padding-left: 27px;
  border-radius: 12px;
  width: 80;
}
.Sent {
  background-color: #0087a3;
  color: White;
  padding: 3px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 12px;
  width: 80;
}
.Submitted {
  background-color: #0087a3;
  color: White;
  padding: 3px;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 12px;
  width: 80;
}
.Issue {
  background-color: #D2042D;
  color: White;
  padding: 3px;
  padding-right: 27px;
  padding-left: 27px;
  border-radius: 12px;
  width: 80;
}
.table td{
  padding: 0.4rem;
}
.yield_na {
  background-color: #C0C0C0;
  color: Black;
  padding: 4px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 12px;
}
.yield_low {
  background-color: #D2042D;
  color: White;
  padding: 4px;
  padding-right: 27px;
  padding-left: 27px;
  border-radius: 12px;
  width: 80;
}
.yield_ok {
  background-color: #99987d;
  color: White;
  padding: 4px;
  padding-right: 13px;
  padding-left: 13px;
  border-radius: 12px;
  width: 80;
}
.yield_high {
  background-color: #009f83;
  color: White;
  padding: 4px;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 12px;
  width: 80;
}

.yield_extrahigh {
  background-color: #009fc4;
  color: White;
  padding: 4px;
  padding-right: 27px;
  padding-left: 27px;
  border-radius: 12px;
  width: 80;
}

.empty-color {
    color:#FF0D0D;
}

.quarter-color {
  color: #FF4E11;
}

.half-color {
    color: #FF8E15;
  }

.threequarters-color {
    color: #ACB334;
  }

.full-color {
    color: #69B34C;
  }
