.status {
  width:100%;
  height:100%;
  text-align:center;
  display:block;
  padding: 3px;
  border-radius: 10px;
  width: 130px;
}
.copostatus {
  width:100%;
  height:100%;
  text-align:center;
  display:block;
  padding: 3px;
  border-radius: 10px;
  width: 20px;
}
.None {
  background-color: #C0C0C0;
  color: White;
}
.Waiting {
  /* background-color: #C0C0C0; */
  background-color: transparent;
  outline-color: rgb(227, 227, 227);
  outline-style: dotted;
  outline-width: thin;
  /* color: White; */
  color: transparent; /* make the text invisible */
  user-select: none; /* prevent selection of the text */
}
.Long_Listed {
  background-color: #C0C0C0;
  color: White;
}
.Received {
  background-color: #99987d;
  color: White;
}
.Prep {
  background-color: #99987d;
  color: White;
}
.Extracted {
  background-color: #99987d;
  color: White;
}
.Processing {
  background-color: #009f83;
  color: White;
}
.Assembling {
  background-color: #009f83;
  color: White;
}
.Scaffolding {
  background-color: #009f83;
  color: White;
}
.Sequencing {
  background-color: #009f83;
  color: White;
}
.TopUp {
  background-color: #009f83;
  color: White;
}
.External {
  background-color: #0087a3;
  color: White;
}
.Sampling {
  background-color: #009f83;
  color: White;
}
.Collecting {
  background-color: #99987d;
  color: White;
}
.Pending {
  background-color: #009f83;
  color: White;
}
.Accepted {
  background-color: #0087a3;
  color: White;
}
.Rejected {
  background-color: #D2042D;
  color: White;
}
.none {
  background-color: #C0C0C0;
  color: White;
}
.long_list {
  background-color: #C0C0C0;
  color: White;
}
.sample_collected {
  background-color: #99987d;
  color: White;
}
.sample_acquired {
  background-color: #009f83;
  color: White;
}
.data_generation {
  background-color: #009fc4;
  color: White;
}
.in_assembly {
  background-color: #009fc4;
  color: White;
}
.insdc_open {
  background-color: #0087a3;
  color: White;
}
.published {
  background-color: #0087a3;
  color: White;
}
.Resampling {
  background-color: #009f83;
  color: White;
}
.Curating {
  background-color: #009f83;
  color: White;
}
.Annotating {
  background-color: #009f83;
  color: White;
}
.Done {
  background-color: #009fc4;
  color: White;
}
.Contigs {
  background-color: #009f83;
  color: White;
}
.Scaffolds {
  background-color: #009f83;
  color: White;
}
.UnderReview {
  background-color: #009fc4;
  color: White;
}
.Approved {
  background-color: #009fc4;
  color: White;
}
.Sent {
  background-color: #0087a3;
  color: White;
}
.COPO {
  background-color: #0087a3;
  color: White;
}
.Submitted {
  background-color: #0087a3;
  color: White;
}
.Issue {
  background-color: #D2042D;
  color: White;
}
.NotCollected {
  /* background-color: #C0C0C0; */
  background-color: transparent;
  outline-color: rgb(227, 227, 227);
  outline-style: dotted;
  outline-width: thin;
  /* color: White; */
  color: transparent; /* make the text invisible */
  user-select: none; /* prevent selection of the text */
}
.NotSubmitted {
  /* background-color: #C0C0C0; */
  background-color: transparent;
  outline-color: rgb(227, 227, 227);
  outline-style: dotted;
  outline-width: thin;
  /* color: White; */
  color: transparent; /* make the text invisible */
  user-select: none; /* prevent selection of the text */
}
.Notsubmitted {
  /* background-color: #C0C0C0; */
  background-color: transparent;
  outline-color: rgb(227, 227, 227);
  outline-style: dotted;
  /* color: White; */
  color: transparent; /* make the text invisible */
  user-select: none; /* prevent selection of the text */
}
.table td{
  /* padding: 0.1rem; */
  padding: 0.1rem;
  padding-right: 10px;
  padding-left: 10px;
}
.yield_na {
  background-color: #C0C0C0;
  color: Black;
  padding: 4px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 12px;
}
.yield_low {
  background-color: #D2042D;
  color: White;
  padding: 4px;
  padding-right: 27px;
  padding-left: 27px;
  border-radius: 12px;
  width: 80;
}
.yield_ok {
  background-color: #99987d;
  color: White;
  padding: 4px;
  padding-right: 13px;
  padding-left: 13px;
  border-radius: 12px;
  width: 80;
}
.yield_high {
  background-color: #009f83;
  color: White;
  padding: 4px;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 12px;
  width: 80;
}

.yield_extrahigh {
  background-color: #009fc4;
  color: White;
  padding: 4px;
  padding-right: 27px;
  padding-left: 27px;
  border-radius: 12px;
  width: 80;
}

.empty-color {
    color:#FF0D0D;
}

.quarter-color {
  color: #FF4E11;
}

.half-color {
    color: #FF8E15;
  }

.threequarters-color {
    color: #ACB334;
  }

.full-color {
    color: #69B34C;
  }
  .sample_col {
  background-color: #f0f0f0;
  opacity: 1.0;
  }

  .seq_col {
  background-color: #f8f8f8;
  opacity: 1;
  }
  .analysis_col {
  background-color: #f0f0f0;
  opacity: 1;
  }
/*   .species_col {
    width: 500px !important;
  } */
a {text-decoration: none;}

.fa-download {
    color:  #0087a3;
  }

