.Waiting {
  background-color: #C0C0C0;
  color: Black;
  padding: 4px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 12px;
}
.Received {
  background-color: #99987d;
  color: White;
  padding: 4px;
  padding-right: 13px;
  padding-left: 13px;
  border-radius: 12px;
  width: 80;
}
.Processing {
  background-color: #009f83;
  color: White;
  padding: 4px;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 12px;
  width: 80;

}
.Done {
  background-color: #009fc4;
  color: White;
  padding: 4px;
  padding-right: 27px;
  padding-left: 27px;
  border-radius: 12px;
  width: 80;
}
.Sent {
  background-color: #0087a3;
  color: White;
  padding: 4px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 12px;
  width: 80;
}
.Issue {
  background-color: #D2042D;
  color: White;
  padding: 4px;
  padding-right: 27px;
  padding-left: 27px;
  border-radius: 12px;
  width: 80;
}
.table td{
  padding: 0.4rem;
}
