{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% block page_content %}

<p>
<div class="row m-1">
  <div class="col-md-12">
    <div class="card mb-12">
      <div class="card-body">
        <h5 class="card-title">Sample Collection Team</h5>
        Coordinator: {{ team.coordinator.first_name }} {{ team.coordinator.last_name }}</br>
        Institution: {{ team.affiliation }}
        email: {{ team.coordinator.email }}</br>
      </div>
    </div>
  </div>
</div>
{% endblock %}
