{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block page_content %}
<div class="row">
  <div class="col-md-12">
    <p>
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">Registration required!</h5>
        <p>Only registered users may use this tracking system. Please
          <a href="{% url 'account_login' %}">LOGIN</a> to be able to view this page.
          If you have not yet registered,
          please <a href="{% url 'account_signup' %}">REGISTER HERE</a> and wait for admin
          approval. NOTE: only approved team leaders may view genome team contact information.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
