{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block page_content %}
<div class="row">
  <div class="col-md-6">
    <div class="card mb-1">
      <div class="card-body">
        <h5 class="card-title">Welcome to the ERGA-Stream Tracking Tool</h5>
        <p>This site is under active development by the CNAG team (namely, Tyler Alioto). The stable production version will be 
          located at <a href="https://genomes.cnag.cat/erga-stream">https://genomes.cnag.cat/erga-stream</a>. 
          If you'd like to browse the api or help test the tool, please register an account via the link at the top right and we
          will manually activate your account and grant limited permissions. If you'd like to help develop,
          head on over to <a target="_blank" href="https://github.com/cnag-aat/ERGA-Status">https://github.com/cnag-aat/ERGA-Status</a>
          </p>
          <p>DISCLAIMER: Things are likely to change and
          the site may occasionally be down. This is NOT a production site (yet;-)
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-1">
      <div class="card-body">
        <h5 class="card-title">How to use this tool.</h5>
          <p>As soon as possible, Sequencing, Assembly, and Annotation leads should register at the link above, 
            and once granted access, enter team member info using the appropriate link below:</p>
            <ul>
              <li><a target="_blank" href="https://genomes.cnag.cat/erga-stream-dev/admin/status/sequencingteam/">Edit sequencing teams</a></li>
              <li><a target="_blank" href="https://genomes.cnag.cat/erga-stream-dev/admin/status/assemblyteam/">Edit assembly teams</a></li>
              <li><a target="_blank" href="https://genomes.cnag.cat/erga-stream-dev/admin/status/annotationteam/">Edit annotation teams</a></li>
            </ul>
            <p>Analogous links exist for other roles, but perhaps the genome team coordinator or sample coordinator can enter this info.
              The can also be accessed via the <a target="_blank" href="https://genomes.cnag.cat/erga-stream-dev/admin/status/genometeam/">genome team link</a>.
            </p>
            <p>Scripts will be provided in the github <a target="_blank" href="https://github.com/cnag-aat/ERGA-Status/tree/master/scripts">repo</a> 
              for updating the database with seqeuncing and assembly status. 
              These will take as imput tsv or csv text files with new or updated info. </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
