{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block page_content %}
<div class="row">
  <div class="col-md-12">
    <div class="card mb-1">
      <div class="card-body">
        <h5 class="card-title">Welcome to the ERGA Genome Tracking Console</h5>
        <p>The purpose of this tool is to facilitate the tracking of samples, sequencing status, assembly and annotation status, and 
          facilitate the deposition of data into the ENA by keeping track of accession numbers. </p>
          <p>If you'd like to help develop or <a target="_blank" href="https://github.com/cnag-aat/ERGA-Status/issues">submit issues</a>,
          head on over to <a target="_blank" href="https://github.com/cnag-aat/ERGA-Status">https://github.com/cnag-aat/ERGA-Status</a>. 
          You can also send feedback to <a href="mailto:erga.gtc@gmail.com">erga.gtc@gmail.com</a>.
          </p>
          <p>NOTICE: Log in is now required for most views.</p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row" style="flex">
  <div class="col-md-12" style="flex">
    <div class="card-group">
      <div class="card" style="flex-grow: 2">
        <div class="card-body">
          <div style="aspect-ratio: 2">
            <canvas id="SeqProdChart"></canvas>
          </div>
          <div>&nbsp;</div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div style="aspect-ratio: 2">
            <canvas id="TotalSeqProdChart"></canvas>
          </div>
          <div>&nbsp;</div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row" style="flex">
    <div class="col-md-6" style="flex">
      <div style="aspect-ratio: 2">
        <canvas id="SeqProdChart"></canvas>
      </div>
    </div>
    <div class="col-md-6" style="flex">
      <div style="aspect-ratio: 2">
        <canvas id="TotalSeqProdChart"></canvas>
      </div>
    </div>
  </div>

  <!-- <div class="col-md-6">
    <div class="card mb-1">
      <div class="card-body">
        <h5 class="card-title">Assembly Production</h5>
        <div>
          <canvas id="AssProdChart"></canvas>
        </div>
      </div>
    </div>
  </div> -->

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
<script>
  const ctx = document.getElementById('SeqProdChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{ centers|safe }},
      datasets: [
        {
        label: 'Assembly done',
        data: {{ assembly_done|safe }},
        borderWidth: 1,
        backgroundColor: [
          'rgb(0, 135, 163, 1)'
          ],
        },
        {
        label: 'Assembling',
        data: {{ assembling|safe }},
        borderWidth: 1,
        backgroundColor: [
          'rgb(0, 159, 196, 1)'
          ],
        },
        {
        label: 'Sequencing done',
        data: {{ seq_done|safe }},
        borderWidth: 1,
        backgroundColor: [
          'rgb(0, 159, 160, 1)'
          ],
        },
        {
        label: 'Sequencing',
        data: {{ sequencing|safe }},
        borderWidth: 1,
        backgroundColor: [
          'rgb(0, 159, 131, 1)'

          ],
        },
        {
        label: 'Collected',
        data: {{ collected|safe }},
        borderWidth: 1,
        backgroundColor: [
          'rgb(153, 152, 125, 1)'
          ],
        },
        {
        label: 'Not collected',
        data: {{ not_collected|safe }},
        borderWidth: 1,
        backgroundColor: [
          'rgb(192, 192, 192, 1)'
          ],
        }
    ]
    },
    options: {
      plugins: {
        title: {
          display: true,
          text: 'Sequencing Production'
        },
      },
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        x: {
          stacked: true,
        },
        y: {
          stacked: true,
          title: {
            display: true,
            text: "Genome Span (Gb)"
          }
        }
      }
    }
  });

  const totalctx = document.getElementById('TotalSeqProdChart');
  var tad = {{ total_assembly_done|safe }};
  var ta = {{ total_assembling|safe }};
  var tsd = {{ total_seq_done|safe }};
  var ts = {{ total_sequencing|safe }};
  var tc = {{ total_collected|safe }};
  var tnc = {{ total_not_collected|safe }};
  var cumsum1 = tad;
  var cumsum2 = tad + ta;
  var cumsum3 = tad + ta + tsd;
  var cumsum4 = tad + ta + tsd + ts; //all data in production
  var cumsum5 = tad + ta + tsd + ts + tc;
  /* var cumsum6 = tad + ta + tsd + ts + tc + tnc; */
  var target = cumsum4 < 450 ? 450 : cumsum4;
  var sum_notstarted = target - cumsum4; // var sum_notstarted = tc + tnc;
  var sum_notfinished = target - cumsum3; /* = ts + tc + tnc; */
  var excess = target -450

  new Chart(totalctx, {
    type: 'doughnut',
    data: {
      labels: [
        'Assembly done',
        'Assembling',
        'Sequencing done',
        'Sequencing',
        'Collected',
        'Not collected',
        'Sequencing Finished',
        '',
        'Sequencing Started',
        '',
        'MS9.3a Oct 31, 2024',
        'MS9.3b Feb 28, 2025',
        'MS9.3c Oct 31, 2025',
        ''
      ],
      datasets: [
        { /* sequencing done */
          data: [
            0,0,0,0,0,0,cumsum3,sum_notfinished,0,0,0,0,0,0
          ],
          weight:5,
          backgroundColor: [
          'rgb(0, 135, 163, 1)',
          'rgb(0, 159, 196, 1)',
          'rgb(0, 159, 160, 1)',
          'rgb(0, 159, 131, 1)',
          'rgb(153, 152, 125, 1)',
          'rgb(192, 192, 192, 1)',
          'rgb(0, 159, 160, 1)',
          'rgb(0, 159, 160, 0)',
          'rgb(0, 159, 131, 1)',
          'rgb(0, 159, 131, 0)',
          'rgb(50, 50, 50, 0.9)',
          'rgb(50, 50, 50, 0.7)',
          'rgb(50, 50, 50, 0.5)',
          'rgb(50, 50, 50, 0.1)',
          ],
          rotation: -90,
          circumference: 180
        },
        { /* sequencing_started */
          data: [
            0,0,0,0,0,0,0,0,cumsum4,sum_notstarted,0,0,0,0
          ],
          weight:5,
          backgroundColor: [
          'rgb(0, 135, 163, 1)',
          'rgb(0, 159, 196, 1)',
          'rgb(0, 159, 160, 1)',
          'rgb(0, 159, 131, 1)',
          'rgb(153, 152, 125, 1)',
          'rgb(192, 192, 192, 1)',
          'rgb(0, 159, 196, 1)',
          'rgb(0, 159, 196, 0)',
          'rgb(0, 159, 131, 1)',
          'rgb(0, 159, 131, 0)',
          'rgb(192, 192, 192, 1)',
          'rgb(192, 192, 192, 1)',
          'rgb(192, 192, 192, 1)',
          'rgb(0, 0, 0, 0)',
          ],
          rotation: -90,
          circumference: 180
        },
        { /* detailed state */ 
          data: [
            {{ total_assembly_done|safe }},
            {{ total_assembling|safe }},
            {{ total_seq_done|safe }},
            {{ total_sequencing|safe }},
            tc < target - cumsum4 ? tc : target - cumsum4,//tc,
            target - cumsum5 > 0 ? target - cumsum5 : 0 //tnc
          ],
          weight:5,
          backgroundColor: [
          'rgb(0, 135, 163, 1)',
          'rgb(0, 159, 196, 1)',
          'rgb(0, 159, 160, 1)',
          'rgb(0, 159, 131, 1)',
          'rgb(153, 152, 125, 1)',
          'rgb(192, 192, 192, 1)',
          'rgb(0, 159, 196, 1)',
          'rgb(0, 159, 196, 0)',
          'rgb(0, 159, 131, 1)',
          'rgb(0, 159, 131, 0)',
          'rgb(0, 0, 0, 0)',
          ],
          rotation: -90,
          circumference: 180
        },
        { /* milestones */
          data: [
            0,0,0,0,0,0,0,0,0,0,90,140,220,excess
          ],
          weight:1,
          backgroundColor: [
          'rgb(0, 135, 163, 1)',
          'rgb(0, 159, 196, 1)',
          'rgb(0, 159, 160, 1)',
          'rgb(0, 159, 131, 1)',
          'rgb(153, 152, 125, 1)',
          'rgb(192, 192, 192, 1)',
          'rgb(0, 159, 196, 1)',
          'rgb(0, 159, 196, 0)',
          'rgb(0, 159, 131, 1)',
          'rgb(0, 159, 131, 0)',
          'rgb(50, 50, 50, 0.9)',
          'rgb(50, 50, 50, 0.7)',
          'rgb(50, 50, 50, 0.5)',
          'rgb(50, 50, 50, 0.1)',
          ],
          rotation: -90,
          circumference: 180
        }
    ]
    },
    options: {
      plugins: {
        title: {
          display: true,
          text: 'Total'
        },
        legend: {
          display: false
        },
      },
      responsive: true,
      maintainAspectRatio: false,
    }
  });




</script>
{% endblock %}
