{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block page_content %}
<div class="row">
  <div class="col-md-6">
    <div class="card mb-1">
      <div class="card-body">
        <h5 class="card-title">Genome Assembly Production Tracking Tool</h5>
        <p>This site is under active development by the CNAG team (namely, Tyler Alioto). Currently, it
          is merely a dev site for testing ideas with respect to assembly production for the BGE ERGA stream
          and/or the Catalan Initiative for the Earth BioGenome Project (CBP). If you'd like to browse the api
          or fiddle with entering test data, please register an account via the link at the top right and we
          will manually activate your account and grant limited permissions. If you'd like to help develop,
          head on over to <a href="https://github.com/cnag-aat/ERGA-Status">https://github.com/cnag-aat/ERGA-Status</a>
          </p>
          <p>DISCLAIMER: Things are likely to change and
          the site may occasionally be down. This is NOT a production site (yet;-)
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-1">
      <div class="card-body">
        <h5 class="card-title">BGE T9.3 Assembly Delivery M4-38 CNAG-CRG (lead),Sanger,IZW,Genoscope,UU</h5>
          <p>This Task will coordinate the use of the assembly workflows by in-Project partners and the
            genomics community to process the different datatypes produced by the sequencing centres and
            deliver high-quality genome assemblies. It will also provide support and guidance to maintain
            common quality control standards and timely delivery of the outputs.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card mb-1">
      <div class="card-body">
        <h5 class="card-title">Reference Genome Assembly Quality Controls</h5>
        <p>Genome references produced under BGE and ERGA in general should adhere
          to the EBP standards.
          </p>

      </div>
    </div>
  </div>
</div>
{% endblock %}
