{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% block page_content %}

<p>
<div class="row m-1">
  <div class="col-md-12">
    <div class="card mb-12">
      <div class="card-body">
        <h5 class="card-title">{{ species.tolid_prefix }}</h5>
        <table>
          <tr><td>Scientific name:</td><td> {{ species.scientific_name }}</br></td></tr>
          <tr><td>Taxonomy Browser:</td><td> <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ species.taxon_id }}">{{ species.taxon_id }}</a></br></td></tr>
          <tr><td>GOAT:</td><td> <a href="https://goat.genomehubs.org/record?recordId={{ species.taxon_id }}&result=taxon&taxonomy=ncbi">{{ species.taxon_id }}</a></br></td></tr>
            <tr><td>Taxonomy:</td><td> {{ species.taxon_kingdom }}:
        {{ species.taxon_phylum}}:
        {{ species.taxon_class }}:
        {{ species.taxon_order }}:
        {{ species.taxon_family }}:
        {{ species.taxon_genus }}</br></td></tr>
          <tr><td>Number of chromosomes:</td><td> {{ species.chromosome_number }}</br></td></tr>
          <tr><td>Haploid number:</td><td> {{ species.haploid_number }}</br></td></tr>
          <tr><td>Ploidy:</td><td> {{ species.ploidy }}</br></td></tr>
          <tr><td>C-value:</td><td> {{ species.c_value }}</br></td></tr>
          <tr><td>Genome size:</td><td>{{ species.genome_size }}</br></td></tr>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
